includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 5

    paths:
        - app
        - bootstrap
        - database/factories
        - routes

    excludePaths:
        - app/Providers/TelescopeServiceProvider.php

    treatPhpDocTypesAsCertain: false

